.dept {
  .trigger {
    font-size: 18px;
    line-height: 32px;
    padding: 0 2px;
    cursor: pointer;
    transition: color .3s;
  }
  .trigger:hover {
    color: #1890ff;
  }
  .dept-header{
    background: #fff;
    padding: 0;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
  }
  .dept-logo {
    height: 32px;
    line-height: 32px;
    background: #E5F0FA;
    padding: 0 6px;
  }
  .departmentBtn{
    display: flex;
    justify-content: space-around;
  }
  .departmentH6{
    margin: 0.5em 0 0;
    background: #dddddd;
    line-height: 32px;
    padding-left: 6px;
  }
}